html {
  /* background: linear-gradient(
    to right,  rgb(45, 45, 45) 0%, rgb(45, 45, 45) 30%,rgb(199, 196, 196) 30%,rgb(199, 196, 196) 100%
  ); */
  /* background: linear-gradient(
    to right,  #343534 0%,#343534 30%,#d9ddda 30%,#d9ddda 100%
  ); */
  background: linear-gradient(
    to right,  #000000 0%,#000000 30%,#ffffff 30%,#ffffff 100%
  );
}

.container {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  user-select: none;
  width: 100%;
}

.content {
  height: 85%;
  position: absolute;
  width: 100%;
  top: 5%;
  margin-top: 1rem;
}