html {
  background: linear-gradient(
    to right,  #36463d 0%,#587264 30%,#648f7b 30%,#89bca5 100%
  );
}

.container {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.content {
  height: 85%;
  position: absolute;
  width: 100%;
  top: 5%;
}