:root {
  --borderWidth: 0.12rem;
  --missionFontSize: 2rem;
  --missionPadding: 1rem;

  --headerBackground: #F4F2E7;
  --headerHeight: 3rem;
  --headerMargin: 0.5rem;
  --headerLeftRightWidth: 30%;

  --footerBackground: #F4F2E7;
  --footerHeight: 3rem;
  --footerMargin: 0.5rem;

  --contentBackground: #F4F2E7;
  --contentMargin: 0.5rem;
}