@font-face {
  font-family: ostritch-regular;
  src: URL('../../shared/fonts/ostrich-sans/ostrich-regular.ttf') format('truetype');
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label {
  color: white;
  cursor: pointer;
  font-size: xx-large;
  font-family: ostritch-regular;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 30%;
}