.ahora {
  /* opacity: 100% !important; */
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.provider {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 1rem;
}

.customer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.left {
  /* align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%; */
}

.message {
  /* background-color: black;
  color: white;
  font-family: Tahoma, sans-serif;
  font-size: 3rem;
  opacity: 60%;
  text-align: center; */
}

.right {
  /* align-items: center;
  background-image: url('../../assets/images/LondonTree.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 50%; */
}

