@import "../../shared/constants.css";
.tab {
  align-self: center;
  color: var(--tabColor);
  cursor: pointer;
  font-size: 1rem;
  font-family: Tahoma, sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}