.footer {
  align-items: center;
  background: var(--producerBg);
  bottom: 0;
  color: var(--labelColor);
  display: flex;
  height: 10%;
  font-family: Tahoma, sans-serif;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0px -9px 6px -6px #717271;
	-moz-box-shadow: 0px -9px 6px -6px #717271;
  box-shadow: 0px -9px 6px -6px #717271;
}