@import '../../shared/constants.css';

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  background-color: var(--footerBackground);
  border: solid;
  border-width: var(--borderWidth);

  bottom: 0;
  font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', 'sans-serif';
  height: var(--footerHeight);
  margin: var(--footerMargin);
  text-align: center;
  user-select: none;
  width: calc(100% - var(--footerMargin) - var(--footerMargin));
}